/* .search-input {
  border: none;             
  outline: none;            
  border-radius: 20px 0 0 20px;
  background: #f5f5f5;
  font-size: 14px;
}

.search-button {
  border: none;              
  outline: none;             
  background: #812424;         
  padding: 6px 12px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.search-button .nav-icon {
  color: #fff;
  font-size: 16px;
} */
